*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: white;
    height: 60px;
    display: flex;
    
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}
header .left{
 /* background-color: blue; */
 /* line-height: 60px; */
   margin-left: 40px;
    /* text-align: center; */
    /* font-size: 24px; */
 
}
.left img{
    height: 75px;
    width: 200px;
}
header .right{
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 35px;
    padding-right: 50px;
    font-family: luminary, fantasy;
    


}
header .right div{
    padding: 10px 15px;
    margin: 0px 5px;
    font-size: 18px;
    display: block;
    /* background-color: rosybrown; */
}
header .right div a{
    text-decoration: none;
    color: unset;
}
header .right div:hover{
    color: blue;
    cursor: pointer;
}
/* home page........ */

.home_page{
    /* background: rgb(136, 136, 141); */
    background-image: linear-gradient(to right, #83b4df, #2d96c7, #43455f);
    height: 700px;
}
.home_page .heading1{
    text-align: center;
    padding-top: 100px;
    font-size: 18px;
}



/* slides................. */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  font-size: 20px;
  color: blue, black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.fade img{
    width: 100%;
    height: 500px;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* slides end .................. */



/* About---------------- */
.about{
    padding: 30px 0px;
}
.about_section {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.about_section .left{
    /* background: rgb(216, 171, 171); */
    margin: 100px 0px;
}
.about_section .left h4{
    margin: 10px 0px;
}
.about_section .right{

}
.about_section .right img{
    height: 300px;
    width: 300px;
    }

.headingname{
    color: rgb(47, 0, 255);
    text-decoration: underline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}








/* footer... */

.footer{
    background: #202020;
    padding: 20px 0px 0px 0px;
    text-align: center;
    width: 100%;
}
.footer .social_link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 50vw; */
    width: 200px;
    margin: auto;
    /* background: rgb(59, 187, 159); */
}
.footer .social_link a{
    text-decoration: none;
    color: unset;
}
.footer .social_link a i{
    background: rgba(5, 3, 27, 0.842);
    border-radius: 100px;
    font-size: 25px;
    margin: 5px;
    padding: 8px ;
    color: rgb(255, 255, 255);
}
.footer .social_link .facebook i{
    /* color: #0B84EE; */
    background-image: linear-gradient(to right, #0B84EE,#0B84EE);
}
.footer .social_link .instagram i{ 
    background-image: linear-gradient(to right, #E0495B, #E86944, #6555C7);
}
.footer .social_link .youtube i{ 
    background-image: linear-gradient(to right,#FF0000,#FF0000 );
}
.footer .social_link a i:hover{
    background: white;
    color: black;
}

.footer .my_service ,.footer .headerlink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0px;
}
.footer .my_service a , .footer .headerlink a{
    text-decoration: none;
    color: white;
    margin:5px 10px;
    font-size: 16px;
    text-justify: newspaper;
    text-transform: uppercase; 
}
.footer .copyright{
    background: #000;
    background: rgba(5, 3, 27, 0.842);
    padding: 15px ;
    font-size: 16px;
    color: white;
}



@media screen and (max-width: 620px){
    .footer .my_service {
        flex-direction: column;
        text-align: left;
        padding: 0 15% ;
    }
}
